html,
body,
#root {
    height: auto;
    min-height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    --anthracite: #393646;
    --medium-slate-gray: #6D5D6E;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#navbar{
    box-shadow: 1px 1px 1px 1px #393646;
}

.button{
    margin-top: 2%;
    margin-right: 2%
}